<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxzycs.shiro.dao.IUserDao">
	<select id="getUserByUsername" parameterType="String" resultMap="com.hxzycs.shiro.entity.User">
		SELECT u.userId,u.username,u.password 
		FROM oa_user
		WHERE username=#{username}
	</select>
</mapper>